@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Red Hat Display', 'sans-serif';
}
.order-component{
    background:hsl(225, 100%, 94%) url('./images/pattern-background-desktop.svg') no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content{
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.image img{
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
}
.main-content .wrapper{
    padding: 20px;
    background-color: white;
    margin-top: 0px;
    border-radius: 0 0 15px 15px;
}
.wrapper .head{
    margin: 0 25px;
}
.wrapper h2{
    color: hsl(223, 47%, 23%);
    text-align: center;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.wrapper p{
    font-size: 14px;
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.wrapper .pricing{
    height:80px;
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 8px;
    margin-bottom: 1.7rem;
}
.wrapper .pricing img{
    height: 48px;
    margin: 15px;
}
.wrapper .pricing .plans{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plans span{
    font-weight: 900;
    margin-top:16px;
    margin-bottom: 2px;
}
.plans p{
    font-weight: 500;
}
.pricing a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    margin-left: 3.6rem;
}
.pricing a:hover{
    text-decoration: none;
    color: rgba(56, 41, 244, 0.75);
}
.wrapper .foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper .foot button{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:hsl(245, 75%, 52%) ;
    color: white;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0 20px 15px rgba(119, 135, 189, 0.5);
    /* margin-bottom: 25px; */
    margin-bottom: 1.1rem;
}
.wrapper .foot button:hover{
    background-color: rgba(56, 41, 244, 0.75);
}
.wrapper .foot span{
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.wrapper .foot span:hover{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

/* adding responsiveness using media queries*/

@media screen and (max-width:375px) {
    .order-component{
        background:hsl(225, 100%, 94%) url('./images/pattern-background-mobile.svg')  no-repeat;
    }
}
